.small *{
	font-size: 1em;
  }
  
  .medium *{
	font-size: 1.2em;
  }
  
  .large *{
	font-size: 1.6em;
  }

  .small h1{
	font-size: 1.4em;
  }
  
  .medium h1{
	font-size: 2.5em;
  }
  
  .large h1{
	font-size: 3em;
  }

.picture_info{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.76);
	border-radius: 20px;

	margin:0vh 10%;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: none;
	
}

.history{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.76);
	border-radius: 20px;

	margin:5vh 10%;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: none;
	overflow-x: auto;
	overflow-y: scroll;
	max-height: 50vh;
}

.history::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
}

.history::-webkit-scrollbar-track {
	background: #444; /* Background of the scrollbar track */
	border-radius: 20px;
}

.history::-webkit-scrollbar-thumb {
	background-color: #888; /* Color of the scrollbar thumb */
	border-radius: 10px;
	border: 2px solid #333; /* Adds space around the thumb */
}

.history::-webkit-scrollbar-thumb:hover {
	background-color: #ff0000; /* Color of the scrollbar thumb on hover */
}
h1{
	margin:1vh 1vw;
	margin-bottom: 5vh;
}

#profile_picture{
	margin: 2vh 2vw;
	max-width: 20vh;
	width: 20%;
	height: auto;
	max-height: auto;
}

#info{
	margin-left : auto;
	margin-right: auto;
}