/* .app{
} */

.small *{
	font-size: 1em;
  }
  
  .medium *{
	font-size: 1.2em;
  }
  
  .large *{
	font-size: 1.6em;
  }

  .small h1{
	font-size: 1.4em;
  }
  
  .medium h1{
	font-size: 2.5em;
  }
  
  .large h1{
	font-size: 3em;
  }
  .purple .button{
	background-color: #800080;
  }
  
  .green .button{
	background-color: #094d09;
  }
  
  .yellow .button{
	background-color: #d35e11;
  }

  .medium .daltonism {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 2vw;
}
#Deuteranopia{
	filter: url('./../../assets/filters.svg#deuteranopia');
}
#Protanopia{
	filter: url('./../../assets/filters.svg#protanopia');
}
#Tritanopia{
	filter: url('./../../assets/filters.svg#tritanopia');
}
.settings{
	background-color: rgba(0, 0, 0, 0.76);
	border-radius: 20px;

	margin:5vh 10%;
	max-height: 80vh;
	padding: 1vh 1vw;
	overflow:scroll;
}
.settings #selector {
	margin: 2vh 2vw;
	display: flex;
	align-items: center;
}
.button {
	padding: 10px;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 0 1vw;
	border-color:rgb(255, 255, 255);
	border-radius: 10px;
	color : white;
}

#yellow{
	background-color: #d35e11;
}

#green{
	background-color: #094d09;
}

#purple{
	background-color: #800080;
}

.small-font {
	font-size: 12px;
  }
  
  .medium-font {
	font-size: 16px;
  }
  
  .large-font {
	font-size: 20px;
  }

h1{
	text-align: center;
	margin: 2vh 4vw;
}

h2{
	white-space: nowrap;
	text-align: left;
	margin: 0 0;
	padding: 0;
	padding-right: 0;
	margin-left : 2vw;
	margin-right: 1vw;
}

.settings::-webkit-scrollbar {
	width: 10px;
}

.settings::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.76);
	border-radius: 20px;
}
.settings::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
  }
.settings::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
	border: 2px solid #333;
}
.settings::-webkit-scrollbar-thumb:hover {
	background-color: white;
}

.button:hover {
	background-color: rgba(83, 83, 83, 0);
  }
@media (max-width: 768px) {
	.settings {
		flex-direction: column;
    	align-items: flex-start;
	}
	
	.settings #selector {
		flex-direction: column;
		align-items: center;
	}
  
	.button {
		margin: 5px 0;
		width: 100%;
	}
}