@font-face {
	font-family: myFirstFont;
	src: url('./../../assets/Mekon-Gradient.ttf') format('truetype');
  }
  
  .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	padding: 2em;
	box-sizing: border-box;
  }
.logo-container{
  filter: drop-shadow(10px 10px 10px #000000);
}
img {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
    
  .button-container {
	display: flex;
	justify-content: center;
	width: 100%;
  }
  
  #main_button {
	text-decoration: none;
	margin-top: 27vh;
	padding: 5vw 5vh;
	border: 1px solid white;
	border-radius: 10px;
  
	background-color: rgb(0, 0, 0);
	color: white;
	font-size: large;
	transition: background-color 0.3s ease;
  }
  

.button {
  position: relative;
  padding: 4vh 10vw;
  font-size: 1.5rem;
  color: white;
  border: 5px solid white;
  border-radius: 100px;
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.button:hover {
  color: #fff;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  box-shadow: 0 0 0px var(--color);
}
.spacer{
  margin-top: 10vh;
}
.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.button:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  border-radius: 100px;
  box-shadow: 0 0 10px var(--color),
    0 0 30px var(--color),
    0 0 60px var(--color);
}