
body, html {
  overflow: hidden;
  background-image: url("./assets/background_retro.jpg");
  padding: 0;
  margin: 0;
}

.d *{
  filter: url('./assets/filters.svg#deuteranopia');
}
.t *{
  filter: url('./assets/filters.svg#tritanopia');
}

.p *{
  filter: url('./assets/filters.svg#protanopia');
}
.purple #right {
  background-color: #800080;
}

.green #right {
  background-color: #094d09;
}

.yellow #right {
  background-color: #d35e11;
}

.background {
  z-index: -10;
  position: absolute;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: all 0.3s ease-out;
}

.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  transition: all 0.3s ease-in;
}


#app {
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
}

nav {
  padding: 30px;
  text-align: right;
  margin-right: 30px;
  padding-top: 14px;

  .nav-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: right;

    a {
      font-weight: bold;
      color: #ffffff;

      &.router-link-exact-active {
        font-style: italic;
      }
    }
  }

  #right {
    text-decoration: none;
    margin: 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: large;
  }

  #right:hover {
    transition: ease all 0.4s;
    background-color: rgba(83, 83, 83, 0);
  }
}

nav {
  .nav-toggle {
    display: block;
  }
.nav-menu {

  position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    &.is-active {
      display: flex;
    }
}
}

nav {
  position: relative;
}

.nav-toggle {
  display: block;
}

.nav-menu {

  position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1.3s ease, transform 0.3s ease;
    &.is-active {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }
}

// .nav-menu.is-active {
//   display: flex;
//   opacity: 1;
//   transform: translateY(0);
// }

// .nav-menu a {
//   margin: 10px 0;
//   text-decoration: none;
//   color: black;
//   font-family: 'Roboto Mono', monospace;
// }

.nav-toggle:hover {
  transition: ease all 0.3s;
  color: #747474; /* Highlight color on hover */
}

@media (max-height: 800px) {
  html {
    overflow-y: auto;
    overflow-x: auto;
  }
  }

